%% ------------------------------------------------------------
%% Generates and compiles a protobuffer module.
%%  
%% Author: msk@tigertext.com
%% ------------------------------------------------------------

{sub_dirs, ["rel", "deps"]}.

{cover_enabled, true}.

{erl_opts, [debug_info]}.

{deps, [
  {protobuffs, "0.8.0", {git, "git@github.com:basho/erlang_protobuffs.git", {tag, "839e441c194fb946b2a72df24252b377269169cb"}}}
]}.


{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
